@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic);
body,
* {
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	width: 101%;
	margin: 0;
	overflow-x: hidden;
}

div,
button {
	transition: all ease 0.2s;
}

.navbar-fixed-top {
	position: absolute;
}

.btn {
	background: none;
	border: 2px solid #FFF;
	color: #FFF;
	text-transform: capitalize;
	border-radius: 0;
	min-width: 145px;
}

.btn:hover {
	color: #FF7800;
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100%;
}


/*nav*/

.navbar .top {
	height: 90px;
	border-bottom: 8px solid #FF7800;
	background: rgba(0, 0, 0, 0.25);
	color: #FFF;
	font-size: 20px;
	padding-top: 20px;
	padding-right: 35px;
}

.navbar .top .pull-right {
	z-index: 999;
	position: relative;
}

.navbar .bottom .left,
.navbar .bottom .right {
	position: relative;
	float: left;
	width: 50%;
	z-index: 999;
}

.navbar .bottom .list > div {
	position: relative;
	float: left;
	text-align: center;
}

.navbar .bottom .list > div > a,
a {
	color: #FFF;
	text-decoration: none;
	z-index: 999;
	transition: all ease 0.2s;
}

.navbar .bottom .list > div > a:hover,
a:hover {
	color: #FF7800;
}

.navbar .bottom .logo {
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: -62px;
	z-index: 10;
	margin-left: -12px;
}


/*/nav*/


/*slider*/

.top-slider {
	position: relative;
	margin-top: -50px;
	height: auto;
	width: 100%;
	border-bottom: 8px solid #FF7800;
}

.top-slider .carousel-inner {
	width: 150% !important;
	left: -25% !important;
}

.top-slider .carousel-indicators {
	display: none;
}

.top-slider .carousel-caption {
	margin: 0 auto;
	width: 53%;
	text-align: center;
}

.top-slider .carousel-caption ul {
	list-style: none;
	display: inline;
}

.top-slider .carousel-caption ul li {
	width: 24%;
	float: left;
	font-size: 1.3em;
}

.top-slider .carousel-caption ul li:nth-child(1) {
	width: 25%;
}

.top-slider .carousel-caption ul li:nth-child(2) {
	width: 35%;
	border-left: 1px solid #FF7800;
	border-right: 1px solid #FF7800;
}

.top-slider .carousel-caption ul li:nth-child(3) {
	width: 20%;
}

.top-slider .carousel-caption ul li:nth-child(4) {
	width: 14%;
	margin-top: -4px;
}

.second-slider {
	position: relative;
	background-image: url(../img/fiber.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100% !important;
	height: auto;
	color: #FFF;
}

.second-slider .carousel {
	position: relative;
	margin-bottom: 50px;
}

.second-slider .carousel .container {
	width: 80%;
}

.second-slider h2 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 20px;
}

.second-slider p {
	padding-bottom: 20px;
}

.second-slider .carousel-indicators {
	position: absolute;
	top: 0;
	background-image: url(../img/slider-tabs.png);
	background-repeat: no-repeat;
	width: auto;
	margin: -16px -100px;
	background-size: contain;
	padding: 14px 30px;
}

.second-slider .carousel-indicators li {
	background-color: #FFF;
}

.second-slider .carousel-indicators .active {
	background-color: #FF7800;
	border: none;
}


/*/slider*/

.scroll {
	background-color: #FF7800;
	height: 65px;
	padding-bottom: 18px;
	font-size: 44px;
}

.video {
	height: 800px;
	background-image: url(../img/layer.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.video > .container {
	text-align: center;
	padding-top: 20%;
	color: #FFF;
}

.video > .container .play {
	font-size: 85px;
	width: 140px;
	height: 140px;
	border: 5px solid rgba(255, 255, 255, 0.6);
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	position: relative;
	margin: 10px auto;
	padding-top: 4px;
	padding-left: 15px;
	cursor: pointer;
}

.video > .container .play:hover {
	color: #FF7800;
}

.video > .container p {
	font-size: 1.3em;
	font-weight: 200;
	letter-spacing: 6px;
}

.video > .container h1 {
	font-weight: 900;
	margin-top: -14px;
}

.video > .news {
	height: 222px;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	color: #FFF;
	padding-top: 10px;
}

.video > .news .info {
	padding-bottom: 10px;
}

.video > .news .carousel-inner .container {
	width: 70%;
}

.video > .news .carousel-indicators {
	display: none;
}

.video > .news .carousel-inner .container .content .pic {
	width: 100px;
	margin-right: 20px;
	position: relative;
	float: left;
	border-right: 1px solid #FFF;
}

.video > .news .carousel-inner .container .content .title {
	font-size: 1.1em;
}

.video > .news .carousel-inner .container .content .time {
	font-size: 0.9em;
	color: gray;
}

.footer {
	height: 420px;
	position: relative;
	background-image: url(../img/footer.png);
	background-size: 140%;
	background-position-x: 50%;
	background-repeat: no-repeat;
	/* width: 100% !important; */
	/* left: -20%; */
	/* height: auto; */
	color: #FFF;
	margin-top: -107px;
	z-index: 0;
	background-color: #151616;
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
	.navbar .bottom .container {
		height: 75px;
		position: relative;
		top: -26px;
		background-image: url('../img/nav.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.navbar .bottom .list {
		text-transform: uppercase;
		font-size: 0.9em;
		height: inherit;
		padding-top: 15px;
	}
	.navbar .bottom .right .list {
		padding-left: 50px;
	}
	.navbar .bottom .logo {
		margin-top: -40px;
	}
	.navbar .bottom .logo img {
		width: 145px;
	}
	/*	left */
	div.bottom > div > div.left > div > div:nth-child(1) {
		width: 82px;
	}
	div.bottom > div > div.left > div > div:nth-child(2) {
		width: 77px;
	}
	div.bottom > div > div.left > div > div:nth-child(3) {
		width: 64px;
	}
	div.bottom > div > div.left > div > div:nth-child(4) {
		width: 60px;
	}
	/*	/left */
	/*	right */
	div.bottom > div > div.right > div > div:nth-child(1) {
		width: 78px;
		padding-left: 14px;
	}
	div.bottom > div > div.right > div > div:nth-child(2) {
		width: 79px;
	}
	div.bottom > div > div.right > div > div:nth-child(3) {
		width: 62px;
	}
	div.bottom > div > div.right > div > div:nth-child(4) {
		width: 80px;
	}
	/*	/right */
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
	.navbar .bottom .container {
		height: 75px;
		position: relative;
		top: -32px;
		background-image: url('../img/nav.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.navbar .bottom .list {
		text-transform: uppercase;
		font-size: 1em;
		height: inherit;
		padding-top: 20px;
	}
	.navbar .bottom .right .list {
		padding-left: 50px;
	}
	.navbar .bottom .logo {
		margin-top: -40px;
	}
	.navbar .bottom .logo img {
		width: 145px;
	}
	/*	left */
	div.bottom > div > div.left > div > div:nth-child(1) {
		width: 110px;
		padding-left: 12px;
	}
	div.bottom > div > div.left > div > div:nth-child(2) {
		width: 100px;
	}
	div.bottom > div > div.left > div > div:nth-child(3) {
		width: 85px;
	}
	div.bottom > div > div.left > div > div:nth-child(4) {
		width: 90px;
	}
	/*	/left */
	/*	right */
	div.bottom > div > div.right > div > div:nth-child(1) {
		width: 116px;
	}
	div.bottom > div > div.right > div > div:nth-child(2) {
		width: 102px;
	}
	div.bottom > div > div.right > div > div:nth-child(3) {
		width: 80px;
	}
	div.bottom > div > div.right > div > div:nth-child(4) {
		width: 104px;
	}
	/*	/right */
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
	.navbar .bottom .container {
		height: 75px;
		position: relative;
		top: -39px;
		background-image: url('../img/nav.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.navbar .bottom .list {
		text-transform: uppercase;
		font-size: 1.4em;
		height: inherit;
		padding-top: 22px;
	}
	.navbar .bottom .right .list {
		padding-left: 50px;
	}
	.navbar .bottom .logo {
		position: absolute;
		width: 100%;
		text-align: center;
		margin-top: -50px;
		z-index: 10;
		margin-left: -12px;
	}
	.navbar .bottom .logo img {
		width: 201px;
	}
	/*	left */
	div.bottom > div > div.left > div > div:nth-child(1) {
		width: 135px;
		padding-left: 16px;
	}
	div.bottom > div > div.left > div > div:nth-child(2) {
		width: 122px;
	}
	div.bottom > div > div.left > div > div:nth-child(3) {
		width: 100px;
	}
	div.bottom > div > div.left > div > div:nth-child(4) {
		width: 110px;
	}
	/*	/left */
	/*	right */
	div.bottom > div > div.right > div > div:nth-child(1) {
		width: 150px;
		padding-left: 36px;
	}
	div.bottom > div > div.right > div > div:nth-child(2) {
		width: 123px;
	}
	div.bottom > div > div.right > div > div:nth-child(3) {
		width: 96px;
	}
	div.bottom > div > div.right > div > div:nth-child(4) {
		width: 126px;
	}
	/*	/right */
}
